.DS_Store
*.dSym
*.o
measure_times
C/Esercizio2/bin/measure_times_hash
C/Esercizio2/bin/measure_times_st
C/Esercizio2/bin/measure_times_rb
C/lib
C/ExCommon/lib/*
C/Esercizio1/bin/test_read
C/bin
C/ExGraphs/test*
*.yml
*.class
*.csv
C/*.txt
.vscode
.tags
bin
